

/* font handeling */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
.typeOf , .discription , .price , .cartText{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color :hsl(228, 12%, 48%)
}
.name {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;

    color:hsl(212, 21%, 14%);
}
/* end font handeling */


img,source{
    max-width: 100%;
}

body{
    /* background-color: hsl(30, 38%, 92%); */
    background-color: red;

}
.card{
    background-color: white;
    padding: 20px;
    width: 90%;
    margin: auto;
}

@media(min-width:48em){
    .card{
        width:70%;
    }
}
p{
    font-size: 14px;
}